@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #151515;
}

.text-outline {
  -webkit-text-stroke-width: 1px;
  /* Adjust width as needed */
  -webkit-text-stroke-color: black;
  /* Choose your outline color */
  -webkit-text-fill-color: transparent;
  /* Makes the fill transparent */
  color: transparent;
  /* Fallback for older browsers */
}

.group:hover::before {
  transform: scale(1);
}

.scrollbox {
  overflow: auto;
  /* width: 200px; */
  max-height: 250px;
  /* margin: 50px auto; */

  background:
    /* Shadow covers */
    linear-gradient(white 30%, rgba(255, 255, 255, 0)),
    linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,

    /* Shadows */
    radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 40px, 100% 40px, 100% 20px, 100% 20px;

  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}

.no-scrollbar {
  scrollbar-width: none;
}