@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.text-outline {
  -webkit-text-stroke-width: 1px; /* Adjust width as needed */
  -webkit-text-stroke-color: black; /* Choose your outline color */
  -webkit-text-fill-color: transparent; /* Makes the fill transparent */
  color: transparent; /* Fallback for older browsers */
}